<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->

<div>
    <div class="settings-area">
        <h2>Settings</h2>
        <div>
            <div class="text-input settings-section">
                <p>Requireds:</p>
                <textarea [ngModel]="rawRequiredString()" (ngModelChange)="rawRequiredString.set($event)"></textarea>
                <p>Optionals:</p>
                <textarea [ngModel]="rawOptionalString()" (ngModelChange)="rawOptionalString.set($event)"></textarea>
            </div>
            <div class="rowColSelect settings-section">
                <div>
                    <p>Rows:</p>
                    <p>Columns:</p>
                    <p>Board size:</p>
                    <p>Boards:</p>
                    <p>Cell Border width:</p>
                    <p>Outer Border width:</p>
                    <p>Delimiter:</p>
                    <p>Shuffle:</p>
                    <p>Text size:</p>
                </div>
                <div>
                    <input type="number" min="1" [ngModel]="rows()" (ngModelChange)="rows.set($event)" />
                    <input type="number" min="1" [ngModel]="columns()" (ngModelChange)="columns.set($event)" />
                    <input type="number" min="20" [ngModel]="boardSize()" (ngModelChange)="boardSize.set($event)" />
                    <input min="1" type="number" [ngModel]="numOfBoards()" (ngModelChange)="numOfBoards.set($event)" />
                    <input min="0" type="number" [ngModel]="cellBorderWidth()" (ngModelChange)="cellBorderWidth.set($event)" />
                    <input min="0" type="number" [ngModel]="outerBorderWidth()" (ngModelChange)="outerBorderWidth.set($event)" />
                    <select [ngModel]="stringDelimiter()" (ngModelChange)="stringDelimiter.set($event)">
                        <option *ngFor="let delimiter of delimiters" [ngValue]="delimiter" [defaultSelected]="this.defaultDelimiter" >
                            <b>{{delimiter.displayName}}</b>
                        </option>
                    </select>
                    <input type="checkbox" [ngModel]="doShuffle()" (ngModelChange)="doShuffle.set($event)" />
                    <input type="number" min="10" [ngModel]="cellTextSize()" (ngModelChange)="cellTextSize.set($event)" />
                </div>
            </div>
            <!-- <div class="others settings-section">
                <div>
                    <p>Border color:</p>
                    <div [style.backgroundColor]="cellBorderColor()" [style.height.px]="16" [style.width.px]="16"></div>
                    <color-chrome [ngModel]="cellBorderColor()" (ngModelChange)="cellBorderColor.set($event)"></color-chrome>
                </div>
            </div> -->
        </div>
    </div>
    <div class="board-section">
        <app-flex-board *ngFor="let e of elems(); let i = index" [ngStyle]="{ 'width.px': this.boardSize() }" [cellTextSize]="this.cellTextSize" [outerBorderWidth]="this.outerBorderWidth" [cellBorderWidth]="this.cellBorderWidth" [rows]="this.rows" [columns]="this.columns" [content]="e" />
    </div>
</div>