<div class="base" [style.border-width.px]="this.config.outerBorderWidth">
    <div class="item" *ngFor="let item of this.config.elements; let i = index" [ngStyle]="{ 
        'width.%': 100/this.config.columns,
        'height.%': 100/this.config.rows,
        'border-top-width.px': i < this.config.columns ? 0 : this.config.cellBorderWidth,
        'border-left-width.px': i % this.config.columns === 0 ? 0 : this.config.cellBorderWidth,
        'font-size.px': this.config.cellTextSize
        }">{{item}}</div>
</div>
